# ignore all but these files
*

# basic
!.gitignore
!.global-gitignore
!README.md

# shell
!.bashrc
!.bash_aliases
!.oh-my-zsh/
!.oh-my-zsh/**
.oh-my-zsh/plugins/
!.profile
!.zshrc
!.zsh_aliases

# scripts
!bin/
!bin/**
bin/assets/
!scripts/
!scripts/**

# vim
!.vimrc
!.config/
!.config/nvim/
!.config/nvim/**
.config/nvim/.netrwhist

# tmux
!.tmux.conf

# other
!settings.md
!setup.md
!.config/dunst/
!.config/dunst/**
!.config/feh/
!.config/feh/**
!.config/feh/buttons
!.config/i3/
!.config/i3/**
!.config/i3status/
!.config/i3status/**
!.config/picom.conf
!.config/ranger/
!.config/ranger/**
!.config/redshift.conf
!.config/rofi/
!.config/rofi/**
!.config/pipewire/
!.config/pipewire/**
!.dispad
!.xinitrc
!.Xmodmap
!.Xresources

# conda
!.condarc

# background picture
!.fehbg

# web shortcuts
bin/web-shortcuts-mapping.txt

# termux
!.termux/
!.termux/**
