# ignore all but these files
*

# basic
!.gitignore
!.global-gitignore
!README.md

# shell
!.bashrc
!.bash_aliases
!.oh-my-zsh/
!.oh-my-zsh/**
.oh-my-zsh/plugins/
!.profile
!.zshrc
!.zsh_aliases

# programs
!bin
!bin/**
bin/*.jar

# vim
!.vimrc
!.config/
!.config/nvim/
!.config/nvim/**
.config/nvim/.netrwhist
.config/nvim/coc-settings.json

# other
!.config/dunst/
!.config/dunst/**
!.config/feh/
!.config/feh/**
!.config/feh/buttons
!.config/i3/
!.config/i3/**
!.config/i3status/
!.config/i3status/**
!.config/picom.conf
!.config/ranger/
!.config/ranger/**
!.config/redshift.conf
!.config/rofi/
!.config/rofi/**
!.dispad
!.ssh/
!.ssh/config
!.xinitrc
!.Xmodmap
!.Xresources

# conda
!.condarc

# background picture
!.fehbg
!Pictures/
!Pictures/wallpaper.png
