# ignore all but these files
*

# basic
!.gitignore
!.global-gitignore
!README.md

# shell
!.bashrc
!.bash_aliases
!.oh-my-zsh
!.oh-my-zsh/**
.oh-my-zsh/plugins
!.profile
!.zprofile
!.zshrc
!.zsh_aliases

# bin, markdowns, and scripts
!bin
!bin/**
bin/assets
!docs
!docs/**
!scripts
!scripts/**

# configs
!.condarc
!.config
!.config/dunst
!.config/dunst/**
!.config/etc
!.config/etc/**
!.config/nvim
!.config/nvim/**
.config/nvim/.netrwhist
!.config/ranger
!.config/ranger/**
!.config/tmux
!.config/tmux/**
.config/tmux/tmux.conf
!.termux
!.termux/**
!.vimrc

## xorg
!.config/feh
!.config/feh/**
!.config/i3
!.config/i3/**
!.config/i3status
!.config/i3status/**
.config/i3status/config
!.config/picom.conf
!.config/redshift.conf
!.config/rofi
!.config/rofi/**
!.dispad
!.xinitrc
!.Xmodmap
!.Xresources

## wayland
!.config/foot
!.config/foot/**
!.config/sway
!.config/sway/**
.config/sway/wallpaper.png
!.config/swaylock
!.config/swaylock/**
!.config/swayidle
!.config/swayidle/**
!.config/pipewire
!.config/pipewire/**
