! default queries
*customization:			-color

! colors
!URxvt.background:		#1B1C1F
URxvt.background:		#000000
URxvt.foreground:		#FFFFFF
URxvt.color3:			#878700
URxvt.color4:			#0000FF
URxvt.color9:			#FF3030
URxvt.color12:			#4444FF

! fonts
URxvt.font:				xft:Source Code Pro:pixelsize=15:antialias=true:Regular,xft:DejaVu Sans Mono for Powerline:pixelsize=15
URxvt.italicFont:		xft:Source Code Pro:pixelsize=15:antialias=true:Regular:Italic:pixelsize=15,xft:DejaVu Sans Mono for Powerline:pixelsize=15
URxvt.boldFont:			xft:Source Code Pro:pixelsize=15:antialias=true:Bold:pixelsize=15,xft:DejaVu Sans Mono for Powerline:pixelsize=15
URxvt.boldItalicFont:	xft:Source Code Pro:pixelsize=15:antialias=true:Bold:Italic:pixelsize=15,xft:DejaVu Sans Mono for Powerline:pixelsize=15

! hotkey
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Left:	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.C-S-plus:		font-size:increase
URxvt.keysym.C-S-underscore:font-size:decrease

! cursor
URxvt.cursorColor:		#FFFFFF
URxvt.cursorBlink:		1

! other
URxvt.termName:			rxvt-256color
URxvt.scrollBar:		false
URxvt.inheritPixmap:	true
URxvt.transparent:		true
URxvt.shading:			25
URxvt.saveLines:		5000
URxvt.iso14755:			false
URxvt.iso14755_52:		false

! merge with:	xrdb -merge .Xresources
! delete with:	xrdb -remove
